
body {
    background: url("../images/xboxBg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* Main Container */
/* ===================================================== */
.container {
    max-width: 100%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* Layout / Positioning */
/* ===================================================== */
.headerWrap,
.gamesBtnWrap {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.addGameWrap {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

.gameGifWrap {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* Header Styles */
/* ===================================================== */
.headerWrap h1 {
    font-size: 2.2em;
    font-family: 'Righteous', cursive;
    padding: 0.5em 0;
}

.headerWrap h2 {
    font-size: 1.4em;
    font-family: 'Karla', sans-serif;
    letter-spacing: 2px;
    padding: 0.5em 0;
}

/* Add Game Stlyes */
/* ===================================================== */
#addGameForm {
    text-align: center;
}

#addGameInput {
    font-family: 'Righteous', cursive;
    text-align: center;
    background: #dbffde;
    padding: 0.5em;
    box-shadow: 0 0 7px 3px #333 inset;
    border: none;
}

#addGameBtn {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    text-shadow: 0 0 10px #00f514;
    letter-spacing: 2px;
    background: rgb(0, 0, 0);
    color:  #a3ffab;
    padding: 0.75em;
    margin-top: 1em;
    border: 0.5px solid rgb(48, 48, 48);
    border-radius: 20px;
    box-shadow: 0 0 15px 0px #00f514;
    transition: all 0.25s;
}

#addGameBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 25px -5px #00f514;
    
}

/* Game Buttons Styles */
/* ===================================================== */
#gamesBtn {
    padding: 0.5em 0;
}

.gameBtn {
    font-family: 'Karla', sans-serif;
    font-size: 0.9em;
    color:  #ffffff;
    background: black;
    margin: 0.25em;
    padding: 0.5em;
    border: 1px solid #004906;
    border-radius: 5px;
    text-shadow: 0 0 10px #00f514;
    transition: all 0.25s;
}

.gameBtn:hover {
    transform: scale(1.04);
    background: #00ff15af;
    color: black;
    cursor: pointer;
}

/* Game GIF Styles */
/* ===================================================== */
.selectedWrap {
    margin: auto;
}

#gameGif {
    padding: 0.5em 0;
}

.resultsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px #00f514;
}

.ratingDiv {
    font-family: 'Karla', sans-serif;
    text-shadow: 0 0 10px #00f514;
    color: #c2ffc7;
    text-align: center;
    padding: 0.5em;
}

/* Neon Glow Header */
/* ===================================================== */
.glow {
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00f514, 0 0 30px #00f514, 0 0 35px #00f514, 0 0 40px #00f514, 0 0 45px #00f514;
    }

    to {
        text-shadow: 0 0 15px #fff, 0 0 25px #00f514, 0 0 35px #00f514, 0 0 40px #00f514, 0 0 45px #00f514, 0 0 45px #00f514, 0 0 55px #00f514;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00f514, 0 0 40px #00f514, 0 0 50px #00f514, 0 0 60px #00f514, 0 0 70px #00f514;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #00f514, 0 0 40px #00f514, 0 0 50px #00f514, 0 0 60px #00f514, 0 0 70px #00f514, 0 0 80px #00f514;
    }
}

/* Meadia Queries */
/* ===================================================== */
@media screen and (max-width: 980px) {
    .container {
        margin: 0.5em auto;
        grid-gap: 0.5em;
    }

    .headerWrap h1,
    .headerWrap h2 {
        padding: 0.25em 0;
    }

    #addGameBtn {
        margin-top: 0.5em;
    }

    .gameBtn {
        margin: 0.2em;
        padding: 0.4em;
    }

    #gameGif {
        padding: 0;
    }
    
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0.25em auto;
    }
    .headerWrap h1,
    .headerWrap h2 {
        padding: 0.2em 0.1em;
    }
    #addGameBtn {
        padding: 0.5em;
    }
    .ratingDiv {
        padding: 0.25em;
    }
    .result {
        width: 350px;
        height: 225px;
    }
}

@media only screen and (max-width: 640px) {
    .headerWrap h2 {
        line-height: 1.2em;
    }
    .gameBtn {
        margin: 0.1em;
        padding: 0.3em;
    }

    .result {
        width:400px;
        height: 250px;
    }
}

@media only screen and (max-width: 400px) {
    .result {
        width:350px;
        height: 250px;
    }
}

@media only screen and (max-width: 350px) {
    .result {
        width:300px;
        height: 225px;
    }
}